<template>
  <!--  <div v-if="!isLogged">
      <h1>Login: {{isLogged}}</h1>
      <Login v-model:username.trim="chatProps.username" v-model:room.trim="chatProps.room"/>
    </div>
    <div v-else>
      <ChatRoom :props="chatProps"/>
    </div>-->
  <div>

  </div>
</template>

<script>
import {reactive, ref} from "vue";
import {useRouter} from "vue-router";

export default {
  name: "Home",
  components: {},

  /*Login,
  ChatRoom*/
  setup() {
    const router = useRouter();

    const chatProps = reactive({
      username: "",
      room: "Default"
    });

    const isLogged        = ref(false); //TODO replace with local session
    const renderComponent = () => {
      console.log('renderComponents');
      if (!isLogged.value) {
        router.push('/login');
      } else {
        router.push('/chat');
      }
    };
    renderComponent();
    return {chatProps, isLogged};
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>