<template>
  <img alt="Vue logo" src="../assets/logo.png">
  <br/>

  <Form id="login-form" action=""
        @submit="submitForm" method="post" datatype="text"
        :validation-schema="schema" v-slot="{ errors }">
    <div class="form-group col">
      <label>Nickname: </label>
      <Field id="user-input" class="form-control" name="username" type="text"
             :class="{'is-invalid':errors.username}"  :value="username" @input="$emit('update:username', $event.target.value)"
             placeholder="Username" @keyup.enter="onEnterKey_User"/>
      <ErrorMessage name="username" class="invalid-feedback"/>
    </div>

    <div class="form-group col">
      <label>Room: </label>
      <Field id="room-input" class="form-control" name="room" type="text" ref="inputRoom" disabled
             :class="{'is-invalid':errors.room}" :value="room" @input="$emit('update:room',$event.target.value)"
             placeholder="Room"/>
      <ErrorMessage name="room" class="invalid-feedback"/>
      <button type="submit" id="btn-login" ref="btnLogin">Login</button>
      <!--    :disabled="!isValidForm"-->
    </div>
  </Form>


</template>

<script>

import _isBlank from "@/utils/string/is_blank";
import coerce_to_string from "@/utils/string/coerce_to_string";
import {ref, onMounted} from "vue";
import {Form, Field, useForm, ErrorMessage} from 'vee-validate';
import {object, string} from 'yup';
import {makeLogin} from "@/services/ActionsRequest";

export default {
  name: "Login",
  props: ['username', 'room'],
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  setup(props) {
    const schema = object().shape({
      username: string().required('Nickname is required'),
      room: string().required('Room is required')
    });


    const inputRoom = ref(null); // define element in onMounted Hook;
    const btnLogin  = ref(null);

    const validateRoom = () => props.room === "Default";
    const isBlank      = _isBlank(''); //TODO DEL only for test

    let isValidUser = false;
    let isValidForm = ref(false);
    let isValidRoom = validateRoom(); //TODO true until feature is added of the channels

    const onlyNumbers   = /^[0-9]+$/;
    const hasWhiteSpace = /^([\s\xA0])+(.)*([\s\xA0])+$/; // Check if has WhiteSpace in beginning or end

    const isValidName = (name) => {
      let text = coerce_to_string(name).trim();

      return !onlyNumbers.test(text);
    };

    const validateUser = string().required(); //() => isValidName(props.username) && !_isBlank(props.username);

    const validateForm = () => {
      isValidUser = validateUser();
      if (!isValidUser) { //validate user
        alert("Invalid username!");
        return isValidUser;
      }

      isValidRoom = validateRoom();
      if (!isValidRoom) {
        alert("Invalid Room!");
        return isValidRoom;
      }

      return true;
    };

    // const { makeLogin } = useForm();
    const submitForm = values => {
      // display form values on success
      makeLogin(props.username);
      // alert('SUCCESS!! :-)\n\n' + JSON.stringify(values, null, 4));
    };

    const onEnterKey_User = () => {
      console.log('press enter!');
      const input          = inputRoom.value.$el;
      const isDisabledRoom = !input.disabled;

      if (isDisabledRoom) {
        input.focus();
        return;
      }

      //submitForm(props.username);
    };

    return {
      onEnterKey_User,
      submitForm, isValidForm, inputRoom, schema, validateUser,
    };
  }
};
</script>

<style>
/*#login-form {*/
/*  text-align: center;*/
/*  display: block;*/
/*}*/
body {
  text-align: center;
}

#login-form {
  text-align: center;
  display: inline-block;
}

#login-form input, #login-form label {
  display: block;
  margin: 2px 0 10px 10px;;
}

/*#login-form input label{*/
/*  display: block;*/
/*  !*font-size:11px;*/
/*  padding:4px 2px;*/
/*  border:solid 1px #aacfe4;*/
/*  width:70px;*/
/*  margin:2px 0 20px 10px;*!*/
/*}*/
</style>