<template>
  <h1>Oops, it looks like the page you're looking for doesn't exist.</h1>

  <router-link to="/" custom v-slot="{href, route, navigate}">
    <button :href="href" @click="navigate" >Router to home</button>
  </router-link>

</template>

<script>
export default {
  name: "NotFound"
};
</script>

<style scoped>

</style>